<section id="schedules">
	<div class="container">
		<div class="row text-center col-sm-10 col-sm-offset-1 green">
			<h4><%= @playerStats['data']['name']%></h4>
		</div>
		<div class="row col-sm-10 col-sm-offset-1 bg-light-gray">
				<%= render 'player_profile' ,  @playerStats %>
		</div>
	</div>
</section>

