<!-- <div class="cb-col cb-col-100 cb-lst-itm cb-lst-itm-lg">
<div class="cb-col cb-col-33">
</div>
<div class="cb-col-67 cb-nws-lst-rt cb-col cb-col-text-container">
<div class="cb-nws-time"><a class="cb-text-link" href="/cricket-news/latest-news" title="REPORT">REPORT</a><span class="cb-dot">&nbsp;•&nbsp;</span>BBL
2016-17
</div>
<h2 class="cb-nws-hdln cb-font-18 line-ht24"><a class="cb-nws-hdln-ancr text-hvr-underline" href="/cricket-news/90287/bbl-06-shaun-marsh-leads-perth-scorchers-to-semi-final-with-fine-fifty-hobart-hurricanes-knocked-out"
title="Shaun Marsh leads Scorchers to semi-final with fine fifty">Shaun Marsh leads Scorchers to semi-final with fine fifty</a></h2>
<div class="cb-nws-intr">Chasing 135 to win, Perth Scorchers lost only three wickets and completed the run chase with 37 balls to spare</div>
<div><span class="cb-nws-time">57m ago</span></div>
</div>
</div> -->
<style>
	input[type=text] {
		width: 130px;
		box-sizing: border-box;
		border: 2px solid #ccc;
		border-radius: 4px;
		font-size: 16px;
		background-color: white;
		background-image: url('searchicon.png');
		background-position: 10px 10px;
		background-repeat: no-repeat;
		padding: 12px 20px 12px 40px;
		-webkit-transition: width 0.4s ease-in-out;
		transition: width 0.4s ease-in-out;
	}

	input[type=text]:focus {
		width: 100%;
	}
</style>
</head>
<body>

	<p>
		search player profile:
	</p>

	<form>
		<input type="text" name="search" placeholder="Search..">
	</form>
