<div class="cb-col cb-col-100 cb-lst-itm cb-lst-itm-lg">
	<% @matchCalendar['data']['data'].each do |type| %>

	<div class="cb-col cb-col-100 cb-lst-itm cb-lst-itm-lg">
		<div class="cb-col cb-col-33">
			<h2 class="cb-nws-hdln cb-font-18 line-ht24"><a class="cb-nws-hdln-ancr"
			title="<%= type['date'] %>"><%= type['date'] %></a></h2>
		</div>
		<div class="cb-col-67 cb-nws-lst-rt cb-col cb-col-text-container">
			<div class="cb-nws-intr">
				<%= type['name'] %>
			</div>
		</div>

		<% end %>
	</div>
