<section id="news">
	<div class="container">
		<!-- <% if data.matchScore.present? && data.matchScore['team-1'].present? && data.matchScore['team-1'].present? %>	 -->
		<!-- <div class="row text-center col-sm-10 col-sm-offset-1 green">
			<h4><%= data.matchScore['team-1'] + " VS "+ data.matchScore['team-2'] %></h4>
		</div> -->
		<!-- <% end %> -->
		<div class="row col-sm-10 col-sm-offset-1 ">
			<!-- details section-->	
				<%= render partial: 'summary' ,  locals: { data: data, balls: data.ball } %>
			<!-- details section-->
		</div>
	</div>
</section>

