<div class="cl-col-100 cl-news-box">
				<% if (liveScore.present? && liveScore.score.present?) %>
				<div class="cl-com-ln">	
					<b>	<%= liveScore.score.html_safe %> </b>
				</div>
				<% end %>
				<% if (liveScore.present? && liveScore['innings-requirement'].present?) %>
				<div class="cl-com-ln">	
					<b> <%= liveScore['innings-requirement'].html_safe  %> </b>
				</div>	
				<% end %>
</div>