<section id="schedules">
	<div class="container">
		<div class="row text-center col-sm-10 col-sm-offset-1 green">
			<h3>Schedule</h3>
		</div>
		<div class="row col-sm-10 col-sm-offset-1 bg-light-gray">
			<div id="schedule_date">	
				<%= render partial: 'date_schedule' ,  locals: { schedule: schedule , schedule_count: schedule_count } %>
			</div>
			
			<div id="schedule_team">
				<%= render partial: 'team_schedule' ,  locals: { teams: teams , teams_schedule: teams_schedule } %>
			</div>
			</div>
		</div>
	</div>
</section>

