<!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome to CricketLive!</div>
                <div class="intro-heading">For quick and accurate Updates of cricket</div>
                <a href="#livescores" class="page-scroll btn btn-xl">Explore</a>
            </div>
        </div>
    </header>