<style>
.btn{
	display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} 

.btn-plain {
	border: 1px solid #ccc;
    background-color: #fff;
    font-weight: bold;
    color: #d92228;
} 

</style>
<!-- <script>
	$('#prop_load_more').on('click', function(){
	alert("loading...");
});
</script> -->
<section id="news">
	<div class="container">
		<div class="row text-center col-sm-10 col-sm-offset-1 green">
			<h3>Cricket News</h3>
		</div>
		<div class="row col-sm-10 col-sm-offset-1 bg-light-gray" id="news_id">
			<% if news.present? && news_count.present? %>
			<% news.each do |type| %>
			<% if type.present? && type.title.present? && type.description.present?  %>
			<div class="cl-news-box bg-light-gray">
				<div class="cl-nws-lst">
					<b class="cl-nws-ttl"><b class="cl-nws-hdln-ancr"
					title="<%= type.title.html_safe %>"><%= type.title.html_safe %></b></b>
					<div class="cl-nws-intr">
						<%= type.description.html_safe %>
					</div>
				</div>

			</div>
			<div id="news_load_more" data-news-list="<%= news.to_json %>"></div>
			<% end %>	
			<% end %>
			<div align="center" >
			<button type="button" id="prop_load_more" class="btn btn-plain load-more-button">Load More News</button>
			</div>
			<% else %>
			<div class="cl-news-box bg-light-gray" align="center">
				<div class="cl-nws-lst" align="center">
					<b class="cl-nws-ttl"><b class="cl-nws-hdln-ancr"
					title="newsnot found" >News not present. please visit later</b></b>
				</div>

			</div>
			<% end %>	
		</div>
	</div>
</section>

